---
import "../styles/global.css";
import '@fontsource/onest/400.css';
import '@fontsource/onest/500.css';
import '@fontsource/onest/600.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Roald Aedo | Asesor de Empresas</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html{
		scroll-behavior: smooth;
	}

	body{
		margin:0;
		padding: 0;
		font-family: 'Onest', sans-serif;
	}
</style>
